@import "~bootstrap-icons/font/bootstrap-icons.css";


body,html{
    padding: 0px;
    margin: 0px;
}
header{
    justify-items: center;
}
h2{
  font-family: "Rubik Gemstones", system-ui;
  color: rgb(15, 15, 15);
  font-weight: 400;
  font-size: 26px;
}
main{
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-content: center;
}
.form{
    width: 300px;
    justify-items: stretch;
}
.error{
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: darkred;
    font-weight: 600;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0px 10px;
    margin-bottom: 10px;
    border: 1px solid darkred;
}
label{
    font-family: "Mozilla Headline", sans-serif;
    font-size: 16px;
    display: block;
    margin: 0px 12px;
}
input{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    display: block;
    margin: 0px 12px;
    margin-bottom: 8px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 4px 6px;
}
.view{
    position: relative;
    justify-items: stretch;
}
#password{
    padding-right: 28px;
}
.eye{
    position: absolute;
    right: 18px;
    bottom: 2px;
    cursor: pointer;
}
#submit{
    background-color: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#submit:hover{
    transform: scale(1.04);
}