@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&display=swap');

body{
    margin: 0%;
}

header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.navBtn{
    border-radius: 20px;
    padding: 10px 22px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.hero{
    background-image: linear-gradient(to left, #F69E7C, #F36B36);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-content{
    padding: 120px;
    color: white;
    display: flexbox;
    flex-direction: column;
    justify-items: start;    
}

h1{
    font-size: 80px;
    margin: 0%;
    font-family: "Mozilla Headline", sans-serif;;
}

p{
    width: 650px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.buyBtn{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: rgb(45, 45, 45);
    padding: 15px 30px;
    border-radius: 15px;
}

.box{
    position: absolute;
    z-index: 5;
    top: -50px;
    right: -60vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
    padding: 50px;
    rotate: -45deg;
}

.img{
    height: 50vh;
    width: 50vh;
    background-color: #F46B36;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img{
    object-fit: fill;
    rotate: 45deg;
}

.shape1{
    background-color: rgba(255, 255, 255, 0.08);
    height: 400px;
    width: 600px;
    border-radius: 45% 78% 34% 67%;
    position: absolute;
    top: -100px;
    left: -150px;
    rotate: 20deg;
}

.shape2{
    background-color: rgba(255, 255, 255, 0.06);
    height: 400px;
    width: 600px;
    border-radius: 78% 67% 34% 45%;
    position: absolute;
    bottom: -50px;
    right: 150px;
    rotate: 30deg;
}