@media (max-width : 768px){
    header{
        flex-direction: column;
    }

    .hero{
        flex-direction: column;
    }
    .about-row{
        flex-direction: column;
    }
}
body::-webkit-scrollbar {
    display: none;
}
header{
    position: fixed;
    z-index: 10;
    background-image: linear-gradient(to left, #6B318B, #B543BF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    margin: 15px;
}
.lc{
    padding: 0px 3px;
    margin: 0px;
    background-color: white;
    font-size: 25px;
    font-weight: 700;
    color:#B543BF;
    border-radius: px;
}
.nav{
    list-style: none;
    padding: 0px 20px 0px 0px;
    gap: 16px;
    display: flex;
    flex-direction: row;
}
.nav> li{
    border: 3px solid rgba(255, 224, 250, 0);
    transition: all 0.2s ease;
}
.nav> li:hover{
    border-bottom: 3px solid rgb(255, 224, 250);
}
.nav> li> a{
    font-size: 14px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav> li> a:hover{
    color: rgb(255, 224, 250);
}
main{
    background-image: linear-gradient(to left, #6B318B, #B543BF);
}
#home{
    position: relative;
    height: 100vh;
}
.hero{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}
.hero-content{
    text-align: left;
    width: 50%;
    color: white;
}
.hero-image> img{
    height: 400px;
}
#home> svg{
    position: absolute;
    bottom: -2px;
}
#services{
    padding-top: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    justify-content: center;
}
.heading{
    justify-items: center;
}
.heading> h2{
    color: rgb(30, 30, 30);
    font-weight: 700;
}
.heading> .hl{
    height: 2px;
    width: 100%;
    background-color: #B543BF;
}
.heading> .hlb{
    position: relative;
    top: -4px;
    height: 6px;
    width: 100px;
    background-color: #B543BF;
}
.col-sm{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px 30PX 20PX;
}
.col-sm> img{
    height: 80px;
}
.col-sm> h5{
    padding: 6px 0px 4px 0px;
    font-weight: 700;
}
.col-sm> .lead{
    font-size: 15px;
}
#services> #services-btn{
    padding: 8px 18px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(to left, #6B318B, #B543BF);
    color: white;
}
#about{
    padding-top: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-row{
    display: flex;
    padding: 0px 20px;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.about-row> img{
    height: 275px;
    margin: 50px;
}
.nav-about{
    list-style: square;
}
#testimonials{
    padding: 150px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimonials> .row{
    padding: 0px 40px;
}
#testimonials> .row> .col-md{
    border: 4px solid white;
    border-left: 3px solid #B543BF;
    width: 400px;
    margin: 50px 30px 0px 0px;
    text-align: left;
}
#testimonials> .row> .col-md> .lead{
    font-size: 16px;
}
.user{
    display: flex;
}
.user-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.user> img{
    border-radius: 100%;
    margin: 0px 8px;
    height: 50px;
    width: 50px;
}
.user-detail> .lead{
    font-size: 16px;
}
.b{
    font-weight: 700;
    margin: 0px;
}
#contact{
    background-color: rgb(225, 225, 225);
    padding: 80px 0px 0px 0px;
    align-content: center;
    justify-items: center;
}
a{
    text-decoration: none;
}
.row-contact{
    padding: 10px;
    display: flex;
    gap: 20px;
}
.row-contact> a>img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.row-contact> a> img:hover{
    transform: translatey(-5px);
}

#contact> svg{
    /* position: absolute; */
    bottom: -2px;
}
.w{
    color: white;
}
footer{
    background-image: linear-gradient(to left, #6B318B, #B543BF);
    padding: 20px 20px;
}
footer> .row{
    gap: 10px;
}
footer> .row> .col-md{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.side-row{
    display: flex;
}
footer> .row> .col-md> h3{
    padding-bottom: 20px;
}
.side-row> svg{
    margin: 1px 5px;
}